<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <staticContent>
      <!-- Remove before re-adding to avoid "Value does not fall within the expected range" -->
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js"   mimeType="application/javascript" />
      <remove fileExtension=".mjs" />
      <mimeMap fileExtension=".mjs"  mimeType="application/javascript" />
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <remove fileExtension=".map" />
      <mimeMap fileExtension=".map"  mimeType="application/json" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="SPA Fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile"      negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>

    <directoryBrowse enabled="false" />

  </system.webServer>
</configuration>
